#body-general {
    background-color: black;
}

.header-general {
  background-color: black;
}

.padding-header {
    padding-top: 130px;
}

#boton-oscuro:hover {
    background-color: aqua;
    border-color: black;
    color: black;
    transition: background-color 1s linear;
  }

#boton-claro:hover {
    background-color: black;
    border-color: aqua;
    color: aqua;
    transition: background-color 1s linear;
}

#footer-lista {
    text-decoration: none;
    color: black;
}